<div layout="column">
	<div layout="row" layout-align="end center">
		<div flex>
			{{name}} - {{state}}
		</div>
		<div>
			<md-button class="md-icon-button md-accent" aria-label="Show topic" ng-click="topicVisible = !topicVisible" ng-init="topicVisible = false"
			 hide-xs>
				<md-tooltip>{{topic}}</md-tooltip>
				<i class="fas fa-question"></i>
			</md-button>
		</div>
	</div>
	<div ng-show="topicVisible">
		<div class="md-caption" md-colors="{color:'accent'}">[ {{topic}} ]</div>
	</div>
	<div>
		<div class="toolbar">
			<md-button class="md-raised md-mini" ng-repeat="action in actions" aria-label="{{action}}" ng-click="$parent.invoke(topic, action.message)">
				{{action.display}}
			</md-button>
		</div>
	</div>
</div>