body .container-fluid {
	padding: 60px 15px 0;
}

.card{
	margin: 1rem;
}

.actions{
	position: absolute;
	bottom: 47px;
	right: 10px;
}

.clock{
	color: green;
}

@media (max-width: 959px){
	.topic {
		display: none;
	}
}

@media (min-width: 960px){
	.topic {
		font-style: italic;
		font-size: 0.9em;
		float: right;
	}
}

.logs {
	background: black;
	color: green;
	height: 200px;
	overflow: auto;
}

.logs ul{
	list-style: none;
	padding: 0;
}

.canvas-holder .canvas {
    width: 600px;
}