md-toolbar>h3 {
    text-align: center;
}

md-list-item>button {
    width: 100%;
    text-align: left !important;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

md-list-item .avatar {
    width: 64px;
    height: 48px;
}

#content .avatar {
    width: 128px;
    height: 128px;
}
.avatar {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: .7;
    transform: translateZ(0);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
}