<div layout="column" ng-class="status">
	<div layout="row" layout-align="end top">
		<div flex>
			<div layout="row">
				<div>
					<h1 hide-xs>
						<md-icon class="avatar status">
							<i class="fas fa-dot-circle fa-3x"></i>
						</md-icon>
					</h1>
				</div>
				<div layout="column">
					<div>
						<h1 class="status">
							{{name}}
						</h1>
					</div>
					<div>
						<div class="md-caption" ng-show="topicVisible" md-colors="{color:'accent'}" hide-xs>
							IP: {{ip}}
						</div>
						<div class="md-caption" ng-show="topicVisible" md-colors="{color:'accent'}">
							[ {{topic}} ]
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<md-button class="md-icon-button md-primary" aria-label="Configure" ng-click="configure = !configure" ng-init="configure = false"
			 hide-xs>
				<md-tooltip>Configure</md-tooltip>
				<i class="fas fa-cogs"></i>
			</md-button>
			<md-button class="md-icon-button md-accent" aria-label="Show topic" ng-click="topicVisible = !topicVisible" ng-init="topicVisible = false"
			 hide-xs>
				<md-tooltip>{{topic}}</md-tooltip>
				<i class="fas fa-question"></i>
			</md-button>
		</div>
	</div>
	<div md-whiteframe="3" ng-show="configure">
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools">Configurando {{name}} [ {{ip}} ]</div>
		</md-toolbar>
		<md-tabs md-dynamic-height>
			<md-tab label="WiFi">
				<md-content class="md-padding" layout="column">
					<form name="conectivityForm">
						<div layout="row" ng-repeat="wifi in cfg.wifis">
							<md-input-container flex>
								<label>WiFi #{{$index+1}}</label>
								<input ng-model="wifi.ssid" />
							</md-input-container>
							<md-input-container flex>
								<label>Password</label>
								<input ng-model="wifi.password" type="password" />
							</md-input-container>
						</div>

						<div layout="row" layout-align="end">
							<md-button class="md-raised md-primary" ng-click="saveWifi()">Guardar</md-button>
						</div>
					</form>
				</md-content>
			</md-tab>
			<md-tab label="Conectividad">
					<md-content class="md-padding" layout="column">
						<form name="conectivityForm">
							<div layout="row">
								<md-input-container flex="50">
									<label>Mqtt Connection String</label>
									<input ng-model="cfg.mqttConnectionString" placeholder="mqtt://username:password@host:port" />
								</md-input-container>
								<md-input-container flex>
									<label>Mqtt Topic Base</label>
									<input ng-model="cfg.mqttTopicBase" />
								</md-input-container>
								<md-input-container flex>
									<label>Device Name</label>
									<input ng-model="cfg.deviceName" />
								</md-input-container>
							</div>
	
							<div layout="row">
								<md-input-container flex>
									<label>Host Address</label>
									<input ng-model="cfg.serverAddress" type="ip" ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/' placeholder='xxx.xxx.xxx.xxx'
									/>
								</md-input-container>
								<md-input-container>
									<label>Host Port</label>
									<input ng-model="cfg.serverPort" type="number" />
								</md-input-container>
								<md-input-container flex>
									<label>OTA Path:</label>
									<input ng-model="cfg.otaPath" type="text" />
								</md-input-container>
							</div>
	
							<div layout="row" layout-align="end">
								<md-button class="md-raised md-primary" ng-click="saveConectivity()">Guardar</md-button>
							</div>
						</form>
					</md-content>
				</md-tab>
			<md-tab label="Componentes">
				<md-content class="md-padding" layout="column">
					<form name="componentsForm">
						<div layout="row" ng-repeat="component in cfg.components">
							<md-input-container flex="50">
								<label>#{{$index+1}} {{component.type}}</label>
								<input ng-model="component.name" />
							</md-input-container>
							<md-input-container ng-repeat="action in component.actions">
								<label>{{action}}</label>
								<input ng-model="action" />
							</md-input-container>
						</div>
						<div layout="row" layout-align="end">
							<md-button class="md-raised md-primary">Guardar</md-button>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>

	<div ng-repeat="metric in metrics">
		<metric metric="metric"></metric>
	</div>
	<hr/>
	<div ng-repeat="component in components | filter: { actions: '!!' }">
		<component component="component"></component>
		<hr/>
	</div>
	<div>
		<div ng-repeat="event in events">
			{{event.date}} - {{event.message}}
		</div>
	</div>
	<logs topic="topic"></logs>
</div>