<div layout="column"  ng-class="status">
	<div layout="row" layout-align="end top">
		<div flex>
			<div layout="row">
				<div>
					<h1>
						<md-icon class="avatar" hide-xs>
							<i class="fas fa-cogs fa-3x"></i>
						</md-icon>
					</h1>
				</div>
				<div layout="column">
					<div>
						<h1>
							{{name}}
						</h1>
						<h2>
							{{ip}}
						</h2>
					</div>
					<div>
						<span class="md-caption" ng-show="topicVisible" md-colors="{color:'accent'}">[ {{topic}} ]</span>
					</div>
				</div>
			</div>
		</div>
		<div>
			<md-button class="md-icon-button md-accent" aria-label="Show topic" ng-click="topicVisible = !topicVisible" ng-init="topicVisible = false"
			 hide-xs>
				<md-tooltip>{{topic}}</md-tooltip>
				<i class="fas fa-question"></i>
			</md-button>
		</div>
	</div>
	<div ng-repeat="metric in metrics">
		<metric metric="metric"></metric>
	</div>
	<hr/>
	<div ng-repeat="component in components">
		<component component="component"></component>
		<hr/>
	</div>

	<logs topic="topic"></logs>
</div>