<div class="metric">
    <div class="float-right">
        <button class="btn btn-sm btn-outline-primary" ng-click="chart.visible = !chart.visible" ng-init="chart.visible = false">
            <i class="fas fa-chart-line"></i>
        </button>
        <button class="btn btn-sm btn-outline-info" ng-click="topic.visible = !topic.visible" ng-init="topic.visible = false">
            <i class="fas fa-question"></i>
        </button>
    </div>
    {{metric.name}}: {{metric.value}} {{metric.unit}}

    <div class="text-info" ng-show="topic.visible">[ {{metric.topic}} ]</div>

    <div class="canvas-holder" ng-show="chart.visible">
        <canvas class="chart chart-line" width="100" height="50" chart-data="data" chart-series="series" chart-options="options"
            chart-legend="legend" chart-click="onClick"></canvas>
    </div>

</div>